<!DOCTYPE html>
<html>

<head>
   <link href="https://fonts.googleapis.com/css?family=Roboto:700" rel="stylesheet">
  <style>
  body {
    font-family: 'Roboto', sans-serif;
  }
  div.a {
    margin-left: 10px;
    margin-top: 50px;
    line-height: 0%;
    font-size: 25px;
  }
  </style>


</head>

<body>
  <div class='a'>
    <p>F I N A N C I A L</p>
    <div class='b'>
      <p>G O A L S</p>
    </div>
  </div>

</body>

</html>
