<!DOCTYPE html>
<html>

<head>


</head>

<body>
  <style>
body {
    background-image: url('img/loginScreen.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size:  cover;
}
</style>

</body>

</html>
